@{
	Layout = null;

	var getCssClass = new Func<string, string>(x => x == ViewBag.Name ? "active" : string.Empty);
}

<!DOCTYPE html>

<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewBag.Title</title>

	<link rel="stylesheet" href="~/Content/css/bootstrap.min.css" />
	<link rel="stylesheet" href="~/Content/css/bootstrap-theme.css" />
	<link rel="stylesheet" href="~/Content/css/site.css" />

	<script type="text/javascript" src="~/Content/js/jquery.min.js"></script>
	<script type="text/javascript" src="~/Content/js/bootstrap.min.js"></script>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
	
	<script>
		(function (i, s, o, g, r, a, m) {
			i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
				(i[r].q = i[r].q || []).push(arguments);
			}, i[r].l = 1 * new Date(); a = s.createElement(o),
			m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g;
			m.parentNode.insertBefore(a, m);
		})(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

		ga('create', 'UA-12512709-5', 'thinking-home.ru');
		ga('send', 'pageview');

	</script>
</head>
<body>
	<div class="container">
		<div class="clearfix">
			<div class="row">
				<div class="col-md-4 site-logo-area">
					<a class="site-logo" href="@Url.Action("Index", "Home")">

						<div class="site-logo-name">
							@*<span class="site-logo-icon"></span>*@Thinking-Home.<span class="site-logo-subname">System</span>
						</div>
						<br />
						<span class="site-subtitle">умный дом &mdash; это просто</span>
					</a>
				</div>

				<div class="col-md-8">
					<ul class="nav nav-pills pull-right">
						<li class="@getCssClass("Welcome")">
							<a href="@Url.Action("Index", "Home")">Добро пожаловать!</a>
						</li>
						<li class="@getCssClass("Scripts")">
							<a href="@Url.Action("Scripts", "Home")">Сценарии</a>
						</li>
						<li class="@getCssClass("Plugins")">
							<a href="@Url.Action("Plugins", "Home")">Создание плагинов</a>
						</li>
						<li class="@getCssClass("Download")">
							<a href="@Url.Action("Download", "Home")">Скачать</a>
						</li>
					</ul>

				</div>

			</div>
		</div>

		@RenderBody()




		<hr />
		<footer>
			<p>&copy; Thinking-Home.RU 2013-2014</p>
		</footer>
	</div>
</body>
</html>
